@font-face {
  font-family: afacad;
  src: url("../assets/fonts/Afacad-Regular.ttf");
}

@font-face {
  font-family: afacad-bold;
  src: url("../assets/fonts/Afacad-Bold.ttf");
}

html,
body {
  min-height: 100svh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  background: white;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20205%20205%22%20width%3D%22205%22%20height%3D%22205%22%20preserveAspectRatio%3D%22none%22%3E%20%3Cstyle%3E%20path%20%7B%20fill%3A%20none%3B%20stroke-width%3A%203px%3B%20stroke%3A%20%23FFFFFF%3B%20vector-effect%3A%20non-scaling-stroke%3B%20%7D%20%3C%2Fstyle%3E%20%3Cpath%20d%3D%22M0%2C179c51%2C0%2C51-51%2C102-51s51%2C51%2C102%2C51%22%20%2F%3E%20%3Cpath%20d%3D%22M0%2C77c51%2C0%2C51-51%2C102-51s51%2C51%2C102%2C51%22%20%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(
      45deg,
      rgba(237, 208, 159, 1) 0%,
      rgba(171, 215, 216, 1) 60%
    );
  background-attachment: fixed;
}

.container {
  margin-top: 25px;
}

.content-box {
  max-width: 720px;
  min-width: 300px;
  margin: 0px 25px 0px 25px;
  background-color: white;
  border-radius: 25px;
}

#home_section {
  margin-top: 2.5rem;
}

.site-title {
  text-align: center;
  font-family: afacad-bold;
  color: #2b7379;
  font-size: 2.25rem;
}

.site-img {
  width: 320px;
}

.main-btn {
  background-color: #67a9a9;
  border-radius: 25px;
  color: white;
  text-transform: lowercase;
  padding: 1px 15px 1px 15px;
  font-size: 1.3rem;
  max-width: 400px;
  cursor: pointer;
  margin-bottom: 7px;
  font-family: afacad;
  text-decoration: none;
  transition: 0.3s ease;
}

.main-btn:hover {
  background-color: #558b8b;
}

.main-btn-icon {
  font-size: 1.2rem;
}

hr.dashed {
  border-top: 3px dashed #2b7379;
}

.main-divider {
  width: 600px;
}

.small-text {
  text-align: center;
  font-size: 0.9rem;
  color: #67a9a9 !important;
  font-family: afacad;
}

.site-heading {
  text-align: right;
  font-family: afacad-bold;
  color: #2b7379;
  font-size: 2.25rem;
  padding: 0;
}

.sub-heading {
  font-family: afacad;
  color: white;
  font-size: 1.25rem;
  background-color: #67a9a9;
  border-radius: 25px;
}

.gallery-container {
  padding: 0px !important;
}

.gallery-thumbnail {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  height: 11.25rem;
  object-fit: cover;
  object-position: 25% 12%;
  margin: 2px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.chibi-gallery-thumbnail {
  display: block;
  width: 12.5rem;
  height: 12.5rem;
  object-fit: cover;
  object-position: center;
  margin: 2px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.gallery-thumbnail:hover,
.chibi-gallery-thumbnail:hover {
  transform: scale(1.05);
}

.footer-buttons {
  padding: 0px 0px 0px 0px !important;
}

.footer-btn {
  background-color: white;
  border: 3px solid #67a9a9;
  border-radius: 25px;
  color: #67a9a9;
  text-transform: lowercase;
  padding: 5px 15px 5px 15px;
  font-size: 1.3rem;
  max-width: 400px;
  cursor: pointer;
  margin-bottom: 7px;
  font-family: afacad;
  text-decoration: none;
  width: 49%;
}

/*-----------------------Modal----------------------------*/

.modal-open {
  padding-right: 0px !important;
  overflow: hidden !important;
  height: 100% !important;
}

.modal {
  padding-right: 0px !important;
  scrollbar-width: none;
  --bs-modal-width: 800px;
  cursor: pointer;
  color: white;
  font-size: 30px;
}

.modal.show {
  max-height: 100vh;
}

.modal-content {
  background: none;
  border: none;
  cursor: default;
}

.modal-image {
  display: block;
  object-fit: contain;
  width: auto;
  max-height: 90vh;
  margin: 0;
}

.modal-row {
  align-items: center;
}

.modal-cross {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.8rem;
  color: white;
  z-index: 1057; /* one above the arrows */
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.modal-cross:hover {
  opacity: 1;
}

.modal-arrow {
  position: absolute;
  top: 50%;
  font-size: 1.5rem;
  color: white;
  z-index: 1056;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.modal-arrow:hover {
  opacity: 1;
}

.modal-arrow-left {
  left: 15px;
  padding: 0.5rem 0.9rem 0.5rem 0.7rem;
}

.modal-arrow-right {
  right: 15px;
  padding: 0.5rem 0.7rem 0.5rem 0.9rem;
}

#modal-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-nav-container {
  background-color: black;
}

/*--------------------------CUSTOM SCROLL BAR-------------------------------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*--------------------Responsiveness--------------------*/

@media (max-width: 736px) {
  html {
    overflow-x: unset;
  }

  .gallery-thumbnail {
    height: 8.4375rem;
  }

  .chibi-gallery-thumbnail {
    width: 8.4375rem;
    height: 8.4375rem;
  }

  .footer-btn {
    width: 100%;
  }

  .content-box {
    padding: 0rem 1.5rem 1.5rem 1.5rem !important;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  html {
    overflow-x: unset;
  }
}
