@font-face {
  font-family: afacad;
  src: url("../assets/fonts/Afacad-Regular.ttf");
}

@font-face {
  font-family: afacad-bold;
  src: url("../assets/fonts/Afacad-Bold.ttf");
}

html,
body {
  min-height: 100svh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  background: white;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20205%20205%22%20width%3D%22205%22%20height%3D%22205%22%20preserveAspectRatio%3D%22none%22%3E%20%3Cstyle%3E%20path%20%7B%20fill%3A%20none%3B%20stroke-width%3A%203px%3B%20stroke%3A%20%23FFFFFF%3B%20vector-effect%3A%20non-scaling-stroke%3B%20%7D%20%3C%2Fstyle%3E%20%3Cpath%20d%3D%22M0%2C179c51%2C0%2C51-51%2C102-51s51%2C51%2C102%2C51%22%20%2F%3E%20%3Cpath%20d%3D%22M0%2C77c51%2C0%2C51-51%2C102-51s51%2C51%2C102%2C51%22%20%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(
      45deg,
      rgba(237, 208, 159, 1) 0%,
      rgba(171, 215, 216, 1) 60%
    );
}

.container {
  margin-top: 25px;
}

.content-box {
  max-width: 720px;
  min-width: 300px;
  margin: 0px 25px 0px 25px;
  background-color: white;
  border-radius: 25px;
}

#home_section {
  margin-top: 3.75rem;
}

.site-title {
  text-align: center;
  font-family: afacad-bold;
  color: #2b7379;
  font-size: 2.25rem;
}

.site-img {
  width: 320px;
}

.main-btn {
  background-color: #67a9a9;
  border-radius: 25px;
  color: white;
  text-transform: lowercase;
  padding: 1px 15px 1px 15px;
  font-size: 1.3rem;
  max-width: 400px;
  cursor: pointer;
  margin-bottom: 7px;
  font-family: afacad;
  text-decoration: none;
}

.main-btn-icon {
  font-size: 1.2rem;
}

hr.dashed {
  border-top: 3px dashed #2b7379;
}

.main-divider {
  width: 600px;
}

.small-text {
  text-align: center;
  font-size: 0.9rem;
  color: #67a9a9 !important;
  font-family: afacad;
}

.site-heading {
  text-align: right;
  font-family: afacad-bold;
  color: #2b7379;
  font-size: 2.25rem;
  padding: 0;
}

.sub-heading {
  font-family: afacad;
  color: white;
  font-size: 1.25rem;
  background-color: #67a9a9;
  border-radius: 25px;
}

.gallery-container {
  padding: 0px !important;
}

.gallery-thumbnail {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  height: 11.25rem;
  object-fit: cover;
  object-position: 25% 12%;
  margin: 2px;
  cursor: pointer;
}

.chibi-gallery-thumbnail {
  display: block;
  width: 12.5rem;
  height: 12.5rem;
  object-fit: cover;
  object-position: center;
  margin: 2px;
  cursor: pointer;
}

.gallery-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 10;
}

.footer-buttons {
  padding: 0px 0px 0px 0px !important;
}

.footer-btn {
  background-color: white;
  border: 3px solid #67a9a9;
  border-radius: 25px;
  color: #67a9a9;
  text-transform: lowercase;
  padding: 5px 15px 5px 15px;
  font-size: 1.3rem;
  max-width: 400px;
  cursor: pointer;
  margin-bottom: 7px;
  font-family: afacad;
  text-decoration: none;
  width: 49%;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    rgba(237, 208, 159, 1) 0%,
    rgba(171, 215, 216, 1) 60%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* HTML: <div class="loader"></div> */
.main-loader {
  width: calc(6 * 30px);
  height: 50px;
  display: flex;
  color: white;
  filter: drop-shadow(30px 25px 0 currentColor)
    drop-shadow(60px 0 0 currentColor) drop-shadow(120px 0 0 currentColor);
  clip-path: inset(0 100% 0 0);
  animation: l12 2s infinite steps(7);
}
.main-loader:before {
  content: "";
  width: 30px;
  height: 25px;
  --c: no-repeat radial-gradient(farthest-side, currentColor 92%, #0000);
  background: var(--c) left / 70% 70%, var(--c) right/20% 20%,
    var(--c) top 0 right 15%/20% 20%, var(--c) bottom 0 right 15%/20% 20%;
}
@keyframes l12 {
  100% {
    clip-path: inset(0 -30px 0 0);
  }
}

/*-----------------------Modal----------------------------*/

.modal-open {
  padding-right: 0px !important;
}

.modal {
  padding-right: 0px !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: hidden;
  --bs-modal-width: 800px;
  cursor: pointer;
  color: white;
  font-size: 30px;
}

.modal.show {
  height: 100vh;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: none;
  border: none;
  cursor: default;
}

.modal-image {
  display: block;
  object-fit: contain;
  width: auto;
  max-height: 650px;
  margin: 0 auto;
}

.modal-row {
  align-items: center;
}

.modal-cross {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.8rem;
  color: white;
  z-index: 1057; /* one above the arrows */
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.modal-cross:hover {
  opacity: 1;
}

.modal-arrow {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  color: white;
  z-index: 1056;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.modal-arrow:hover {
  opacity: 1;
}

.modal-arrow-left {
  left: 15px;
}

.modal-arrow-right {
  right: 15px;
}

#modal-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3rem;
  height: 3rem;
}

/*--------------------Responsiveness--------------------*/

@media (max-width: 736px) {
  .gallery-thumbnail {
    height: 8.4375rem;
  }

  .chibi-gallery-thumbnail {
    width: 8.4375rem;
    height: 8.4375rem;
  }

  .footer-btn {
    width: 100%;
  }

  .content-box {
    padding: 0rem 1.5rem 1.5rem 1.5rem !important;
  }
}
